#dso{
    text-decoration: underline;
}

#dso{
    font-size: 50px;
}

#dso{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.dso{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}